<nz-page-header>
    <nz-page-header-title>{{pageTitle}} {{selected.TenBenh}}</nz-page-header-title>
    <nz-page-header-extra>

        <button nz-button nzType="default" nzShape="round" [routerLink]="'/admin/cac-loai-benh'">
        <i nz-icon nzType="arrow-left"></i>Quay lại danh sách
      </button>
        <button nz-button nzType="primary" nzShape="round">
        <i nz-icon nzType="edit"></i>Sửa
      </button>
    </nz-page-header-extra>
    <!--content-->
    <nz-page-header-content *ngIf="hasBenh">
        <div class="wrap">
            <div class="content">
                <div class="content" style="margin-left: -680px;">
                    <nz-timeline nzMode="alternate">
                        <nz-timeline-item nzColor="red" nzPosition="right">{{selected.TenBenh}}</nz-timeline-item>
                        <nz-timeline-item nzColor="red" nzPosition="right">Nguyên nhân</nz-timeline-item>
                        <nz-timeline-item nzColor="red" nzPosition="left">
                            <div [innerHtml]='selected.MoTa'></div>
                            <!-- {{selected.NguyenNhan}}-->
                        </nz-timeline-item>
                        <nz-timeline-item nzColor="green" nzPosition="right">Triệu chứng</nz-timeline-item>
                        <nz-timeline-item nzPosition="left" nzColor="green">
                            <p *ngFor="let item of selected?.ListTrieuChungs">{{item.TenTrieuChung}}: {{item.MoTaTrieuChung}} </p>
                        </nz-timeline-item>
                        <nz-timeline-item nzColor="green" nzPosition="right">Thuốc điều trị bệnh</nz-timeline-item>
                        <nz-timeline-item nzPosition="left" nzColor="green">
                            <p *ngFor="let item of selected?.ListThuocs">{{item.TenThuoc}}</p>
                        </nz-timeline-item>
                        <nz-timeline-item nzColor="green" nzPosition="right">Cách điều trị</nz-timeline-item>
                        <nz-timeline-item nzPosition="left" nzColor="green">
                            <div [innerHtml]='selected.CachDieuTri'></div>
                            <!-- {{selected.CachDieuTri}} -->
                        </nz-timeline-item>
                        <!-- <nz-timeline-item nzColor="green" nzPosition="right">Mô tả</nz-timeline-item>
                        <nz-timeline-item nzPosition="left" nzColor="green">{{selected.MoTa}}</nz-timeline-item> -->
                        <nz-timeline-item nzColor="green" nzPosition="right">Liệu trình điều trị</nz-timeline-item>
                        <nz-timeline-item nzPosition="left" nzColor="green">
                            <p *ngFor="let item of selected?.ListLieuTrinhs">{{item.TenLieuTrinh}}: {{item.MoTaLieuTrinh}} </p>
                        </nz-timeline-item>
                    </nz-timeline>



                    <ng-template #dotTemplate>
                        <i nz-icon nzType="clock-circle-o" style="font-size: 16px;"></i>
                    </ng-template>
                </div>
            </div>
        </div>
    </nz-page-header-content>
</nz-page-header>