<nz-page-header>
    <nz-page-header-title>{{pageTitle}}</nz-page-header-title>
    <nz-page-header-extra>


        <button nz-button nzType="default" nzShape="round" [routerLink]="'/admin/cac-loai-benh'">
        <i nz-icon nzType="arrow-left"></i>Quay lại danh sách
      </button>
        <button nz-button nzType="primary" nzShape="round" *ngIf="hasBenh" (click)="edit(selected)">
        <i nz-icon nzType="edit"></i>Sửa
      </button>
    </nz-page-header-extra>
    <!--content-->
    <nz-page-header-content *ngIf="hasBenh">
        <nz-tabset>
            <nz-tab nzTitle="Chi tiết">
                <div class="wrap">
                    <div class="content">
                        <div nz-row>
                            <div nz-col [nzSpan]="18" [nzPush]="6">
                                <h5>{{selected.TenBenh}}</h5>
                                <!-- <h6>Công dụng:
                                    <p [innerHtml]='selected.CongDung'></p>
                                </h6>

                                <h6>Cách dùng:
                                    <p [innerHtml]='selected.CachDung'></p>
                                </h6>
                                <h6>Lưu ý:
                                    <p [innerHtml]='selected.LuuY'></p>
                                </h6> -->
                            </div>
                            <div nz-col [nzSpan]="6" [nzPull]="18">
                                <img [src]="selected.HinhAnh" style="width: 200px" />
                            </div>
                        </div>

                    </div>
                </div>
            </nz-tab>
            <nz-tab nzTitle="Nguyên nhân">
                <div class="wrap">
                    <div class="content">
                        <div nz-row>
                            <div [innerHtml]='selected.NguyenNhan'></div>
                        </div>
                    </div>
                </div>
            </nz-tab>
            <nz-tab nzTitle="Triệu chứng">
                <div class="wrap">
                    <div class="content">
                        <button nz-button nzType="primary" nzShape="round" class="btn-create" (click)="createTrieuChung()">
                            <i nz-icon nzType="plus"></i>Thêm triệu chứng mới
                          </button>
                        <button nz-button nzType="primary" nzShape="round" class="btn-create" (click)="create(selected)">
                            <i nz-icon nzType="plus"></i>Cập nhật triệu chứng
                          </button>
                        <div nz-row>
                            <ng-container *ngFor="let item of selected.ListTrieuChungs">

                                <li> <i nz-icon [nzType]="'check-circle'" [nzTheme]="'twotone'" [nzTwotoneColor]="'#52c41a'"></i> {{item.TenTrieuChung}} </li>

                            </ng-container>
                        </div>
                    </div>
                </div>

            </nz-tab>
            <nz-tab nzTitle="Liệu trình">
                <div class="wrap">
                    <div class="content">
                        <div nz-row>
                            <div nz-col [nzSpan]="18" [nzPush]="6">

                                <div class="timeline">
                                    <div class="row no-gutters justify-content-end justify-content-md-around align-items-start  timeline-nodes" *ngFor="let item of selectedThuoc?.ListLieuTrinhs">
                                        <div class="col-10 col-md-5 order-3 order-md-1 timeline-content">


                                            <h3 class=" text-light">{{item.TenLieuTrinh}}</h3>
                                            <p [innerHtml]='item.MoTaLieuTrinh'></p>
                                        </div>
                                        <div class="col-2 col-sm-1 px-md-3 order-2 timeline-image text-md-center">
                                            <img src="../../../../../assets/img/bg-img/download.png" class="img-fluid" alt="img">
                                        </div>
                                        <div class="col-10 col-md-5 order-1 order-md-3 py-3 timeline-date">
                                            <time>2018-02-23</time>
                                        </div>
                                    </div>
                                </div>

                            </div>
                            <div nz-col [nzSpan]="6" [nzPull]="18">
                                <ng-container *ngFor="let item of selected.ListThuocs">
                                    <a (click)="viewLT(item.MaThuoc)">
                                        <li> <i nz-icon [nzType]="'check-circle'" [nzTheme]="'twotone'" [nzTwotoneColor]="'#52c41a'"></i> {{item.TenThuoc}} </li>
                                    </a>
                                </ng-container>
                            </div>
                        </div>
                    </div>
                </div>
            </nz-tab>
        </nz-tabset>
    </nz-page-header-content>

    <!-- <nz-page-header-content *ngIf="hasBenh">
        <div class="wrap">
            <div class="content">
                <div class="content" style="margin-left: -680px;">
                    <nz-timeline nzMode="alternate">
                        <nz-timeline-item nzColor="red" nzPosition="right">{{selected.TenBenh}}</nz-timeline-item>
                        <nz-timeline-item nzColor="red" nzPosition="right">Nguyên nhân</nz-timeline-item>
                        <nz-timeline-item nzColor="red" nzPosition="left">
                            <div [innerHtml]='selected.NguyenNhan'></div> -->
    <!-- {{selected.NguyenNhan}}-->
    <!-- </nz-timeline-item>
                        <nz-timeline-item nzColor="green" nzPosition="right">Triệu chứng</nz-timeline-item>
                        <nz-timeline-item nzPosition="left" nzColor="green">
                            <div *ngFor="let item1 of selected?.ListTrieuChungs">
                                <li [innerHtml]='item1.MoTaTrieuChung'></li>

                                <ul>
                                    <li style="display: inline-block; width: 30px;">
                                        <a (click)="editTrieuChung(item1)" style="color: #1890ff;">
                                            <i nz-icon [nzType]="'edit'" [nzTheme]="'twotone'"></i>
                                        </a>
                                    </li>
                                    <li style="display: inline-block; ">
                                        <a (click)="confirmDeleteTrieuChung(item1)" style="color: red;">
                                            <i nz-icon nzType="delete" nzTheme="outline"></i>
                                        </a>
                                    </li>

                                </ul>

                            </div>
                        </nz-timeline-item>
                        <nz-timeline-item nzColor="green" nzPosition="right">Thuốc điều trị bệnh</nz-timeline-item>
                        <nz-timeline-item nzPosition="left" nzColor="green">
                            <p *ngFor="let item of selected?.ListThuocs">{{item.TenThuoc}}</p>
                        </nz-timeline-item>
                        <nz-timeline-item nzColor="green" nzPosition="right">Cách điều trị</nz-timeline-item>
                        <nz-timeline-item nzPosition="left" nzColor="green">
                            <div [innerHtml]='selected.CachDieuTri'></div> -->
    <!-- {{selected.CachDieuTri}} -->
    <!-- </nz-timeline-item> -->
    <!-- <nz-timeline-item nzColor="green" nzPosition="right">Mô tả</nz-timeline-item>
                        <nz-timeline-item nzPosition="left" nzColor="green">{{selected.MoTa}}</nz-timeline-item> -->
    <!-- <nz-timeline-item nzColor="green" nzPosition="right">Liệu trình điều trị</nz-timeline-item> -->
    <!-- <nz-timeline-item nzPosition="left" nzColor="green">
                            <div *ngFor="let item of selected?.ListLieuTrinhs">
                                <li [innerHtml]='item.MoTaLieuTrinh'></li>
                                <ul>
                                    <li style="display: inline-block; width: 30px;">
                                        <a (click)="editLieuTrinh(item)" style="color: #1890ff;">
                                            <i nz-icon [nzType]="'edit'" [nzTheme]="'twotone'"></i>
                                        </a>
                                    </li>
                                    <li style="display: inline-block; ">
                                        <a (click)="confirmDeleteLieuTrinh(item)" style="color: red;">
                                            <i nz-icon nzType="delete" nzTheme="outline"></i>
                                        </a>
                                    </li>

                                </ul>


                            </div>
                        </nz-timeline-item> -->
    <!-- <nz-timeline-item nzColor="green" nzPosition="right">Hình ảnh minh họa</nz-timeline-item>
                        <nz-timeline-item nzPosition="left" nzColor="green">
                            <div [innerHtml]='selected.MoTa'></div> -->
    <!-- {{selected.CachDieuTri}} -->
    <!-- </nz-timeline-item>

                    </nz-timeline>

                    <ng-template #dotTemplate>
                        <i nz-icon nzType="clock-circle-o" style="font-size: 16px;"></i>
                    </ng-template>
                </div>
            </div>
        </div> -->

</nz-page-header>