<nz-layout class="app-layout">
    <nz-sider class="menu-sidebar" style="background: #fff;" nzCollapsible nzWidth="256px" nzBreakpoint="md" [(nzCollapsed)]="isCollapsed" [nzTrigger]="null">
        <div class="sidebar-logo" style="background: #1890ff;">
            <a href="#" target="_blank">
                <!-- <img src="https://ng.ant.design/assets/img/logo.svg" alt="logo"> -->
                <h1>ADMIN</h1>
            </a>
        </div>
        <ul nz-menu nzTheme="light-mode" nzMode="inline" [nzInlineCollapsed]="isCollapsed">
            <li nz-submenu nzOpen nzTitle="QL Danh Mục" nzIcon="dashboard">
                <ul>
                    <li nz-menu-item nzMatchRouter>
                        <a routerLink="/admin/chung-loai">Chủng loại</a>
                    </li>
                    <li nz-menu-item nzMatchRouter>
                        <a routerLink="/admin/bien-the">Biến thể</a>
                    </li>

                </ul>
            </li>
            <li nz-submenu nzOpen nzTitle="QL Nhân Viên" nzIcon="form">
                <ul>
                    <li nz-menu-item nzMatchRouter>
                        <a routerLink="/admin/nhanvien-management">Nhân viên</a>
                    </li>
                </ul>
            </li>
            <li nz-submenu nzOpen nzTitle="Quản lý điều trị bệnh" nzIcon="form">
                <ul>
                    <li nz-menu-item nzMatchRouter>
                        <a routerLink="/admin/cac-loai-benh">Các loại bệnh</a>
                    </li>

                    <li nz-menu-item nzMatchRouter>
                        <a routerLink="/admin/cac-loai-thuoc">Các loại thuốc</a>
                    </li>

                    <li nz-menu-item nzMatchRouter>
                        <a routerLink="/admin/trieu-chung">Triệu chứng</a>
                    </li>

                </ul>
            </li>
            <li nz-submenu nzOpen nzTitle="QL hình ảnh" nzIcon="user">
                <ul>
                    <li nz-menu-item nzMatchRouter>
                        <a routerLink="/admin/imgBT-management">Hình ảnh biến thể</a>
                    </li>
                </ul>
            </li>
            <li nz-submenu nzOpen nzTitle="QL Tài khoản" nzIcon="user">
                <ul>
                    <li nz-menu-item nzMatchRouter>
                        <a routerLink="/admin/users-management">Danh sách người dùng</a>
                    </li>
                </ul>
            </li>
            <!-- <ng-container *ngTemplateOutlet="menuTpl; context: { $implicit: menus }"></ng-container>
            <ng-template #menuTpl let-menus>
                <ng-container *ngFor="let menu of menus">
                    <li nzMatchRouter *ngIf="!menu.children" nz-menu-item [nzPaddingLeft]="menu.level * 24" [nzDisabled]="menu.disabled" [nzSelected]="menu.selected">
                        <a routerLink="/{{ menu.path }}">{{ menu.title }}{{menu.children}}</a>
                    </li>
                    <li nzMatchRouter *ngIf="menu.children" nz-submenu [nzPaddingLeft]="menu.level * 24" [nzOpen]="menu.open" [nzTitle]="menu.title" [nzIcon]="menu.icon" [nzDisabled]="menu.disabled">
                        <ul>
                            <ng-container *ngTemplateOutlet="menuTpl; context: { $implicit: menu.children }"></ng-container>
                        </ul>
                    </li>
                </ng-container>
            </ng-template> -->
        </ul>
    </nz-sider>
    <nz-layout>
        <nz-header style="background: #fff; padding:0;">
            <i class="trigger" nz-icon [type]="isCollapsed ? 'menu-unfold' : 'menu-fold'" (click)="isCollapsed = !isCollapsed"></i>
            <div class="profile">
                <h6 class="displayname"><span>Xin chào, </span></h6>
                <nz-button-group>
                    <button nz-button nz-dropdown nzShape="circle" [nzDropdownMenu]="userMenu" nzPlacement="bottomRight">
                    <i nz-icon nzType="user"></i>
                  </button>
                </nz-button-group>
                <nz-dropdown-menu #userMenu="nzDropdownMenu">
                    <ul nz-menu>
                        <li nz-menu-item>Cập nhật tài khoản</li>
                        <li nz-menu-item><a (click)="showModalChangePassword(currentUser)">Đổi mật khẩu</a>
                        </li>
                        <li nz-menu-divider></li>
                        <li nz-menu-item><a (click)="logout()">Đăng xuất</a></li>
                    </ul>
                </nz-dropdown-menu>
            </div>
        </nz-header>
        <nz-content>
            <div class="inner-content">
                <router-outlet></router-outlet>
            </div>
        </nz-content>
        <nz-footer style="text-align: center;">{{pageFooter | uppercase}}</nz-footer>
    </nz-layout>
</nz-layout>