<nz-page-header>
    <nz-page-header-title>{{pageTitle}}</nz-page-header-title>
    <nz-page-header-extra>
        <button nz-button nzType="primary" nzShape="round" (click)="createLieuTrinh(selected)">
            <i nz-icon nzType="plus"></i>Thêm liệu trình
          </button>
        <button nz-button nzType="default" nzShape="round" [routerLink]="'/admin/cac-loai-thuoc'">
        <i nz-icon nzType="arrow-left"></i>Quay lại danh sách
      </button>
        <button nz-button nzType="primary" nzShape="round" *ngIf="hasThuoc" (click)="edit(selected)">
        <i nz-icon nzType="edit"></i>Sửa
      </button>
    </nz-page-header-extra>
    <!--content-->
    <nz-page-header-content *ngIf="hasThuoc">
        <nz-tabset>
            <nz-tab nzTitle="Chi tiết">
                <div class="wrap">
                    <div class="content">
                        <div nz-row>
                            <div nz-col [nzSpan]="18" [nzPush]="6">
                                <h5>{{selected.TenThuoc}}</h5>
                                <h6>Công dụng:
                                    <p [innerHtml]='selected.CongDung'></p>
                                </h6>

                                <h6>Cách dùng:
                                    <p [innerHtml]='selected.CachDung'></p>
                                </h6>
                                <h6>Lưu ý:
                                    <p [innerHtml]='selected.LuuY'></p>
                                </h6>
                            </div>
                            <div nz-col [nzSpan]="6" [nzPull]="18">
                                <img [src]="selected.HinhAnh" style="width: 200px" />
                            </div>
                        </div>

                    </div>
                </div>
            </nz-tab>


            <nz-tab nzTitle="Liệu trình">
                <div class="wrap">
                    <div class="content">
                        <div nz-row>

                            <!-- <div class="container">
                                <div class="main-timeline"> -->

                            <!-- start experience section-->
                            <!-- <div class="timeline">
                                        <div class="icon"></div>
                                        <div class="date-content">
                                            <div class="date-outer">
                                                <span class="date">
                                                                            <span class="month">2 Years</span>
                                                <span class="year">2013</span>
                                                </span>
                                            </div>
                                        </div>
                                        <div class="timeline-content">
                                            <h5 class="title">Visual Art &amp; Design</h5>
                                            <p class="description">
                                                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed efficitur ex sit amet massa scelerisque scelerisque. Aliquam erat volutpat. Aenean interdum finibus efficitur. Praesent dapibus dolor felis, eu ultrices elit molestie.
                                            </p>
                                        </div>
                                    </div> -->
                            <!-- end experience section-->

                            <!-- start experience section-->
                            <!-- <div class="timeline">
                                        <div class="icon"></div>
                                        <div class="date-content">
                                            <div class="date-outer">
                                                <span class="date">
                                                                            <span class="month">1 Years</span>
                                                <span class="year">2015</span>
                                                </span>
                                            </div>
                                        </div>
                                        <div class="timeline-content">
                                            <h5 class="title">Product Designer</h5>
                                            <p class="description">
                                                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed efficitur ex sit amet massa scelerisque scelerisque. Aliquam erat volutpat. Aenean interdum finibus efficitur. Praesent dapibus dolor felis, eu ultrices elit molestie.
                                            </p>
                                        </div>
                                    </div> -->
                            <!-- end experience section-->

                            <!-- start experience section-->
                            <!-- <div class="timeline">
                                        <div class="icon"></div>
                                        <div class="date-content">
                                            <div class="date-outer">
                                                <span class="date">
                                                                            <span class="month">2 Years</span>
                                                <span class="year">2016</span>
                                                </span>
                                            </div>
                                        </div>
                                        <div class="timeline-content">
                                            <h5 class="title">Web Designer</h5>
                                            <p class="description">
                                                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed efficitur ex sit amet massa scelerisque scelerisque. Aliquam erat volutpat. Aenean interdum finibus efficitur. Praesent dapibus dolor felis, eu ultrices elit molestie.
                                            </p>
                                        </div>
                                    </div> -->
                            <!-- end experience section-->

                            <!-- start experience section-->
                            <!-- <div class="timeline">
                                        <div class="icon"></div>
                                        <div class="date-content">
                                            <div class="date-outer">
                                                <span class="date">
                                                                            <span class="month">2 Years</span>
                                                <span class="year">2018</span>
                                                </span>
                                            </div>
                                        </div>
                                        <div class="timeline-content">
                                            <h5 class="title">Graphic Designer</h5>
                                            <p class="description">
                                                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed efficitur ex sit amet massa scelerisque scelerisque. Aliquam erat volutpat. Aenean interdum finibus efficitur. Praesent dapibus dolor felis, eu ultrices elit molestie.
                                            </p>
                                        </div>
                                    </div> -->
                            <!-- end experience section-->

                            <!-- </div>
                            </div> -->

                            <div class="timeline">
                                <div class="row no-gutters justify-content-end justify-content-md-around align-items-start  timeline-nodes" *ngFor="let item of selected?.ListLieuTrinhs">
                                    <div class="col-10 col-md-5 order-3 order-md-1 timeline-content">


                                        <h3 class=" text-light">{{item.TenLieuTrinh}}</h3>
                                        <p [innerHtml]='item.MoTaLieuTrinh'></p>
                                        <!-- <ul>
                                                <li style="display: inline-block; width: 30px;">
                                                    <a (click)="editLieuTrinh(item)" style="color: #1890ff;">
                                                        <i nz-icon [nzType]="'edit'" [nzTheme]="'twotone'"></i>
                                                    </a>
                                                </li>
                                                <li style="display: inline-block; ">
                                                    <a (click)="confirmDeleteLieuTrinh(item)" style="color: red;">
                                                        <i nz-icon nzType="delete" nzTheme="outline"></i>
                                                    </a>
                                                </li>
            
                                            </ul> -->



                                        <!-- <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Saepe, eaque amet deleniti hic quas qui cumque delectus aliquid, eius quia quod, quae, aliquam aspernatur facilis. Minima quod corporis dignissimos porro.</p> -->
                                    </div>
                                    <div class="col-2 col-sm-1 px-md-3 order-2 timeline-image text-md-center">
                                        <img src="../../../../../assets/img/bg-img/download.png" class="img-fluid" alt="img">
                                    </div>
                                    <div class="col-10 col-md-5 order-1 order-md-3 py-3 timeline-date">
                                        <time><a (click)="editLieuTrinh(item)">Chỉnh sửa </a></time>
                                    </div>
                                </div>
                                <!-- <div class="row no-gutters justify-content-end justify-content-md-around align-items-start  timeline-nodes">
                                    <div class="col-10 col-md-5 order-3 order-md-1 timeline-content">
                                        <h3 class=" text-light">Timeline Heading</h3>
                                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Saepe, eaque amet deleniti hic quas qui cumque delectus aliquid, eius quia quod, quae, aliquam aspernatur facilis. Minima quod corporis dignissimos porro.</p>
                                    </div>
                                    <div class="col-2 col-sm-1 px-md-3 order-2 timeline-image text-md-center">
                                        <img src="img/img13.png" class="img-fluid" alt="img">
                                    </div>
                                    <div class="col-10 col-md-5 order-1 order-md-3 py-3 timeline-date">
                                        <time>2018-02-23</time>
                                    </div>
                                </div>
                                <div class="row no-gutters justify-content-end justify-content-md-around align-items-start  timeline-nodes">
                                    <div class="col-10 col-md-5 order-3 order-md-1 timeline-content">
                                        <h3 class=" text-light">Timeline Heading</h3>
                                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Saepe, eaque amet deleniti hic quas qui cumque delectus aliquid, eius quia quod, quae, aliquam aspernatur facilis. Minima quod corporis dignissimos porro.</p>
                                    </div>
                                    <div class="col-2 col-sm-1 px-md-3 order-2 timeline-image text-md-center">
                                        <img src="img/img13.png" class="img-fluid" alt="img">
                                    </div>
                                    <div class="col-10 col-md-5 order-1 order-md-3 py-3 timeline-date">
                                        <time>2018-02-23</time>
                                    </div>
                                </div>
                                <div class="row no-gutters justify-content-end justify-content-md-around align-items-start  timeline-nodes">
                                    <div class="col-10 col-md-5 order-3 order-md-1 timeline-content">
                                        <h3 class=" text-light">Timeline Heading</h3>
                                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Saepe, eaque amet deleniti hic quas qui cumque delectus aliquid, eius quia quod, quae, aliquam aspernatur facilis. Minima quod corporis dignissimos porro.</p>
                                    </div>
                                    <div class="col-2 col-sm-1 px-md-3 order-2 timeline-image text-md-center">
                                        <img src="img/img13.png" class="img-fluid" alt="img">
                                    </div>
                                    <div class="col-10 col-md-5 order-1 order-md-3 py-3 timeline-date">
                                        <time>2018-02-23</time>
                                    </div>
                                </div> -->
                            </div>

                        </div>
                    </div>
                </div>

            </nz-tab>
        </nz-tabset>
    </nz-page-header-content>
    <!-- <div class="wrap">
            <div class="content">
                <div class="content" style="margin-left: -680px;">
                    <nz-timeline nzMode="alternate">
                        <nz-timeline-item nzColor="red" nzPosition="right">{{selected.TenThuoc}}</nz-timeline-item>
                        <nz-timeline-item nzColor="red" nzPosition="right">Công dụng</nz-timeline-item>
                        <nz-timeline-item nzColor="red" nzPosition="left">
                            <div [innerHtml]='selected.CongDung'></div>
                        </nz-timeline-item>


                      
                        <nz-timeline-item nzColor="green" nzPosition="right">Cách dùng</nz-timeline-item>
                        <nz-timeline-item nzPosition="left" nzColor="green">
                            <div [innerHtml]='selected.CachDung'></div>
                        </nz-timeline-item>

                        <nz-timeline-item nzColor="green" nzPosition="right">Lưu ý</nz-timeline-item>
                        <nz-timeline-item nzPosition="left" nzColor="green">
                            <div [innerHtml]='selected.LuuY'></div>
                        </nz-timeline-item>

                        <nz-timeline-item nzColor="green" nzPosition="right">Thuốc điều trị bệnh</nz-timeline-item>
                        <nz-timeline-item nzPosition="left" nzColor="green">
                            <p *ngFor="let item of selected?.ListBenhs">{{item.TenBenh}}</p>
                        </nz-timeline-item>

                        <nz-timeline-item nzColor="green" nzPosition="right">Hình ảnh</nz-timeline-item>
                        <nz-timeline-item nzPosition="left" nzColor="green">
                            <img [src]="selected.HinhAnh" style="width: 200px" />-->
    <!-- <div [innerHtml]='selected.LuuY'></div> -->
    <!-- </nz-timeline-item>

                    </nz-timeline>


                    <ng-template #dotTemplate>
                        <i nz-icon nzType="clock-circle-o" style="font-size: 16px;"></i>
                    </ng-template>
                </div>
            </div>
        </div>
    </nz-page-header-content> -->
</nz-page-header>