<!-- ##### Header Area Start ##### -->
<header class="header-area">
    <!-- Top Header Area -->
    <!-- <div class="top-header-area">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="top-header-content d-flex align-items-center justify-content-between"> -->
    <!-- Top Header Content -->
    <!-- <div class="top-header-meta">
                            <p>Welcome to <span>Farmie</span>, we hope you will enjoy our products and have good experience</p>
                        </div> -->
    <!-- Top Header Content -->
    <!-- <div class="top-header-meta text-right">
                            <a href="#" data-toggle="tooltip" data-placement="bottom" title="infodeercreative@gmail.com"><i class="fa fa-envelope-o" aria-hidden="true"></i> <span>Email: infodeercreative@gmail.com</span></a>
                            <a href="#" data-toggle="tooltip" data-placement="bottom" title="+1 234 122 122"><i class="fa fa-phone" aria-hidden="true"></i> <span>Call Us: +84 223 9000</span></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div> -->

    <!-- Navbar Area -->
    <div class="famie-main-menu">
        <div class="classy-nav-container breakpoint-off">
            <div class="container">
                <!-- Menu -->
                <nav class="classy-navbar justify-content-between" id="famieNav">
                    <!-- Nav Brand -->
                    <a routerLink="/trangchu/index" class="nav-brand" style="max-width: unset;"><img src="./../../assets/img/core-img/logoKOI.png" style="height: 70px;" alt="">
                        <img src="./../../assets/img/core-img/logo_By_Wix.jpg" style="height: 70px;" alt=""></a>

                    <!-- Navbar Toggler -->
                    <div class="classy-navbar-toggler">
                        <span class="navbarToggler"><span></span><span></span><span></span></span>
                    </div>
                    <!-- Menu -->

                    <div class="classy-menu">
                        <!-- Close Button -->
                        <div class="classycloseIcon">
                            <div class="cross-wrap"><span class="top"></span><span class="bottom"></span></div>
                        </div>

                        <div hidden *ngIf="expression; then hello; else islogin"> </div>
                        <ng-template #hello>
                            <!-- Navbar Start -->
                            <div class="classynav">
                                <ul>
                                    <li class="active"><a routerLink="/trangchu/index">Trang chủ</a></li>

                                    <li><a routerLink="/trangchu/gioi-thieu">Giới thiệu</a></li>
                                    <li><a routerLink="/trangchu/san-pham">Cá koi</a></li>

                                    <li><a routerLink="/trangchu/cac-loai-benh">Bệnh</a></li>
                                    <li><a routerLink="/trangchu/cac-loai-thuoc">Thuốc</a></li>

                                    <li><a routerLink="/trangchu/lienhe">LIÊN HỆ</a></li>
                                    <!-- <li><a routerLink="/trangchu/thongtin">Thông tin</a></li> -->
                                </ul>
                                <!-- Search Icon -->
                                <!-- <div id="searchIcon">
                                <i class="icon_search" aria-hidden="true"></i>
                            </div> -->
                                <!-- Cart Icon -->
                                <!-- <div id="cartIcon">
                                <a href="#">
                                    <i class="icon_cart_alt" aria-hidden="true"></i>
                                    <span class="cart-quantity">2</span>
                                </a>
                            </div> -->

                                <!-- <h6 class="displayname" style="padding-right: 15px; padding-left: 50px;"><span>Nguyễn Văn A </span></h6>
                            <button nz-button nz-dropdown nzShape="circle" [nzDropdownMenu]="userMenu" nzPlacement="bottomRight">
                                <i nz-icon nzType="user"></i>
                              </button> -->
                                <button class="btn btn-primary" style="background-color: #77b122; margin-right: 5px; margin-left: 70px;" (click)="login()">  Đăng nhập </button>
                                <button class="btn btn-primary" style="background-color: #77b122" (click)="create()"> Đăng ký </button>
                            </div>
                        </ng-template>

                        <!-- Navbar End -->

                        <!-- Navbar1 Start -->
                        <ng-template #islogin>
                            <div class="classynav">
                                <ul>
                                    <li class="active"><a routerLink="/trangchu/index">Trang chủ</a></li>

                                    <li><a routerLink="/trangchu/gioi-thieu">Giới thiệu</a></li>
                                    <li><a routerLink="/trangchu/san-pham">Cá koi</a></li>

                                    <li><a routerLink="/trangchu/cac-loai-benh">Bệnh</a></li>
                                    <li><a routerLink="/trangchu/cac-loai-thuoc">Thuốc</a></li>

                                    <li><a routerLink="/trangchu/lienhe">LIÊN HỆ</a></li>
                                    <li><a routerLink="/trangchu/thongtin">Thông tin</a></li>
                                </ul>


                                <!-- <h6 class="displayname" style="padding-right: 15px; padding-left: 50px;"><span>Nguyễn Văn A </span></h6>
                                <button nz-button nz-dropdown nzShape="circle" [nzDropdownMenu]="userMenu" nzPlacement="bottomRight">
                                <i nz-icon nzType="user"></i>
                              </button> -->
                                <div class="profile">
                                    <h6 class="displayname"><span>{{currentUser.Khachhang.HoLot}} {{currentUser.Khachhang.TenKhachhang}} </span></h6>
                                    <nz-button-group>
                                        <button nz-button nz-dropdown nzShape="circle" [nzDropdownMenu]="userMenu" nzPlacement="bottomRight">
                                    <i nz-icon nzType="user"></i>
                                  </button>
                                    </nz-button-group>
                                    <nz-dropdown-menu #userMenu="nzDropdownMenu">
                                        <ul nz-menu>
                                            <!-- <li nz-menu-item>Cập nhật tài khoản</li> -->
                                            <!-- <li nz-menu-item><a (click)="showModalChangePassword(currentUser)">Đổi mật khẩu</a>
                                            </li> -->
                                            <li nz-menu-divider></li>
                                            <li nz-menu-item><a (click)="logout()" style="font-family: Arial, Helvetica, sans-serif;">Đăng xuất</a></li>
                                        </ul>
                                    </nz-dropdown-menu>
                                </div>
                            </div>
                        </ng-template>

                        <!-- Navbar1 End -->
                    </div>
                </nav>

                <!-- Search Form -->
                <div class="search-form">
                    <form action="#" method="get">
                        <input placeholder="Type keywords &amp; press enter...">
                        <!-- <input [(ngModel)]="TenBienThe" placeholder="Type keywords &amp; press enter..."> -->
                        <button type="button" class="d-none"></button>
                    </form>
                    <!-- Close Icon -->
                    <div class="closeIcon"><i class="fa fa-times" aria-hidden="true"></i></div>
                </div>
            </div>
        </div>
    </div>
</header>
<!-- ##### Header Area End ##### -->

<router-outlet></router-outlet>



<!-- ##### Breadcrumb Area Start ##### -->
<!-- <div class="breadcrumb-area bg-img bg-overlay jarallax" style="background-image: url('./../../assets/img/bg-img/sidle3.jpg');">
    <div class="container h-100">
        <div class="row h-100 align-items-center">
            <div class="col-12">
                <div class="breadcrumb-text">

                </div>
            </div>
        </div>
    </div>
</div> -->



<!-- ##### Footer Area Start ##### -->
<footer class="footer-area">
    <!-- Main Footer Area -->
    <div class="main-footer bg-img section-padding-80-0" style="background-image: url(./../../assets/img/bg-img/footer.jpg);">
        <div class="container">
            <div class="row">

                <!-- Single Footer Widget Area -->
                <div class="col-12 col-sm-6 col-lg-3">
                    <div class="footer-widget mb-80">
                        <!-- <a href="#" class="foo-logo d-block mb-30"><img src="./../../assets/img/bg-img/Capture.PNG" alt=""></a> -->
                        <!-- <p>Lorem ipsum dolor sit amet, consecte stare adipiscing elit. In act honcus risus atiner Pellentesque risus.</p> -->
                        <div class="contact-info">
                            <p><i class="fa fa-map-pin" aria-hidden="true"></i><span>Đường 3 tháng 2, Phường Xuân Khánh, Ninh Kiều, Cần Thơ</span></p>
                            <p><i class="fa fa-envelope" aria-hidden="true"></i><span>cakoiKOIFS@gmail.com</span></p>
                            <p><i class="fa fa-phone" aria-hidden="true"></i><span>+84 223 9000</span></p>
                        </div>
                    </div>
                </div>

                <!-- Single Footer Widget Area -->
                <!-- <div class="col-12 col-sm-6 col-lg-3">
                    <div class="footer-widget mb-80">
                        <h5 class="widget-title">QUICK LINK</h5> -->
                <!-- Footer Widget Nav -->
                <!-- <nav class="footer-widget-nav">
                            <ul>
                                <li><a href="#">Purchase</a></li>
                                <li><a href="#">Policities</a></li>
                                <li><a href="#">Shipping</a></li>
                                <li><a href="#">FAQs</a></li>
                                <li><a href="#">Return</a></li>
                                <li><a href="#">Careers</a></li>
                                <li><a href="#">Payments</a></li>
                                <li><a href="#">Partners</a></li>
                                <li><a href="#">Guide</a></li>
                                <li><a href="#">Standard</a></li>
                                <li><a href="#">News</a></li>
                                <li><a href="#">Brands</a></li>
                            </ul>
                        </nav>
                    </div>
                </div> -->

                <!-- Single Footer Widget Area -->
                <!-- <div class="col-12 col-sm-6 col-lg-3">
                    <div class="footer-widget mb-80">
                        <h5 class="widget-title">RECENT NEWS</h5> -->

                <!-- Single Recent News Start -->
                <!-- <div class="single-recent-blog d-flex align-items-center">
                            <div class="post-thumbnail">
                                <img src="./../../assets/img/bg-img/4.jpg" alt="">
                            </div>
                            <div class="post-content">
                                <a href="#" class="post-title">WA’s largest farming business on the market</a>
                                <div class="post-date">18 Aug 2018</div>
                            </div>
                        </div> -->

                <!-- Single Recent News Start -->
                <!-- <div class="single-recent-blog d-flex align-items-center">
                            <div class="post-thumbnail">
                                <img src="./../../assets/img/bg-img/5.jpg" alt="">
                            </div>
                            <div class="post-content">
                                <a href="#" class="post-title">Beef retail prices hit a record</a>
                                <div class="post-date">18 Aug 2018</div>
                            </div>
                        </div>

                    </div>
                </div> -->

                <!-- Single Footer Widget Area -->
                <div class="col-12 col-sm-6 col-lg-3">
                    <div class="footer-widget mb-80">
                        <h5 class="widget-title">Liên hệ</h5>
                        <!-- Footer Social Info -->
                        <div class="footer-social-info" style="display: flex;">
                            <a href="#">
                                <i class="fa fa-facebook" aria-hidden="true"></i>
                                <span>Facebook</span>
                            </a>
                            <a href="#">
                                <i class="fa fa-comments" aria-hidden="true"></i>
                                <span>Zalo</span>
                            </a>
                            <a href="#" style="margin-bottom: 30px;">
                                <i class="fa fa-pinterest" aria-hidden="true"></i>
                                <span>Pinterest</span>
                            </a>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>

    <!-- Copywrite Area  -->
    <!-- <div class="copywrite-area">
        <div class="container">
            <div class="copywrite-text">
                <div class="row align-items-center">
                    <div class="col-md-6">
                        <p> -->
    <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
    <!-- Copyright &copy;
                            <script>
                                document.write(new Date().getFullYear());
                            </script> All rights reserved | This template is made with <i class="fa fa-heart-o" aria-hidden="true"></i> by <a href="https://colorlib.com" target="_blank">Colorlib</a> -->
    <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
    <!-- </p>
                    </div>
                    <div class="col-md-6">
                        <div class="footer-nav">
                            <nav>
                                <ul>
                                    <li><a href="#">About</a></li>
                                    <li><a href="#">Produce</a></li>
                                    <li><a href="#">Practice</a></li>
                                    <li><a href="#">Products</a></li>
                                    <li><a href="#">News</a></li>
                                    <li><a href="#">Contact</a></li>
                                </ul>
                            </nav>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div> -->
</footer>
<!-- ##### Footer Area End ##### -->