a:link {
    color: #77b122!important;
}


/* visited link */

a:visited {
    color: #77b122 !important;
}


/* mouse over link */

a:hover {
    color: #77b122 !important;
    text-decoration: underline !important;
}


/* Colorize-zoom Container */

.img-hover-zoom--colorize img {
    transition: transform .5s, filter 1.5s ease-in-out;
    filter: grayscale(100%);
}


/* The Transformation */

.img-hover-zoom--colorize:hover img {
    filter: grayscale(0);
    transform: scale(1.1);
}