<nz-page-header>
    <nz-page-header-title>{{pageTitle | uppercase}}</nz-page-header-title>
    <nz-page-header-extra>
        <input nz-input placeholder="Tìm theo tên hoặc nguyên nhân" [(ngModel)]="sName" type="text" />
        <!-- button create -->
        <button nz-button nzType="primary" nzShape="round" class="btn-create" (click)="create()">
  <i nz-icon nzType="plus"></i>Thêm bệnh
</button>

    </nz-page-header-extra>

    <nz-page-header-content>

        <!-- data table -->
        <nz-table #Table nzBordered [nzData]="dataSource" [nzLoading]="isConfirmLoading">
            <thead>
                <tr>
                    <th>STT</th>
                    <th>Tên bệnh</th>
                    <th>Triệu chứng</th>
                    <th>Thuốc điều trị</th>

                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let data of Table.data | filterBenh: sName ; index as i; ">
                    <td>{{i+1}}</td>
                    <td>{{data.TenBenh | titlecase}}</td>
                    <td>
                        <ul>
                            <ng-container *ngFor="let item of data.ListTrieuChungs">

                                <li>{{item.TenTrieuChung}} </li>

                            </ng-container>
                        </ul>
                    </td>
                    <td>
                        <ul>
                            <ng-container *ngFor="let item of data.ListThuocs">
                                <a (click)="viewThuoc(item.MaThuoc)">
                                    <li>{{item.TenThuoc | titlecase}} </li>
                                </a>
                            </ng-container>
                        </ul>
                    </td>
                    <td>
                        <button nz-button nzType="default" nzShape="round" (click)="view(data.MaBenh)">
                <i nz-icon nzType="eye"></i>Xem
              </button>
                        <button nz-button nzType="primary" nzShape="round" (click)="showModal(data)">
                <i nz-icon nzType="setting" ></i>Thêm thuốc
              </button>
                        <button nz-button nzType="primary" nzShape="round" (click)="edit(data)">
                <i nz-icon nzType="edit"></i>Sửa
              </button>
                        <button nz-button nzType="danger" nzShape="round" (click)="confirmDelete(data)">
                <i nz-icon nzType="delete"></i>Xóa
              </button>
                    </td>
                </tr>
            </tbody>
        </nz-table>
    </nz-page-header-content>
</nz-page-header>