<!-- ##### About Us Area Start ##### -->
<section class="about-us-area">
    <div class="container">

        <!-- <div class="container1">
            <ul>
                <li>
                    <a href="./../../../assets/img/bg-img/1.jpg"><img src="./../../../assets/img/bg-img/1.jpg"></a>
                </li>
                <li>
                    <a href="./../../../assets/img/bg-img/10.jpg"><img src="./../../../assets/img/bg-img/10.jpg"></a>
                </li>
                <li>
                    <a href="./../../../assets/img/bg-img/11.jpg"><img src="./../../../assets/img/bg-img/11.jpg"></a>
                </li>
            </ul>
            <div class="imgBox"><img src="./../../../assets/img/bg-img/1.jpg" alt=""></div>
        </div> -->

        <div class="row align-items-center">

            <!-- About Us Thumbnail -->
            <div class="col-12 col-lg-6">
                <div class="about-us-thumbnail mb-100">
                    <ul>
                        <!-- <li>
                            <a><img src="./../../../assets/img/bg-img/1.jpg"></a>
                        </li>
                        <li>
                            <a><img src="./../../../assets/img/bg-img/10.jpg"></a>
                        </li>
                        <li>
                            <a><img src="./../../../assets/img/bg-img/11.jpg"></a>
                        </li> -->
                    </ul>
                    <img [src]="selected.Mahas" style="width: 263px; height: 261px;" alt="" />
                </div>
            </div>

            <!-- About Us Content -->
            <div class="col-12 col-lg-6">
                <div class="about-us-content mb-100">
                    <!-- Section Heading -->
                    <div class="section-heading">
                        <p>Thông tin chi tiết</p>
                        <!-- <h2><span>Farming Practices</span> &amp; Methods</h2> -->
                        <h2><span>{{selected.TenBienThe}}</span> </h2>
                        <p [innerHtml]='selected.MoTa'></p>
                        <h6>Thuộc chủng loại: {{selected.ChungLoais.TenChungLoai}}</h6>
                        <h6>Loại: {{selected.Giongs.TenGiong}}</h6>
                        <h6>Chất lượng: {{selected.ChatLuongs.TenChatLuong}}</h6>
                        <!-- <img [src]="selected.Mahas" alt=""> -->
                    </div>
                    <p [innerHtml]='selected.MoTa'></p>
                    <!-- <a href="#" class="btn famie-btn mt-30">Read More</a> -->
                </div>
            </div>

        </div>
        <!-- <div class="row align-items-center">
            <nz-tabset>

                <nz-tab nzTitle="Mô tả">
                    <div class="wrap">
                        <div class="content">
                            <div nz-row>
                                <div [innerHtml]='selected.ChungLoais.MoTa'></div>
                            </div>
                        </div>
                    </div>
                </nz-tab>
                <nz-tab nzTitle="Thông tin bổ sung">
                    <div class="wrap">
                        <div class="content">
                            <div nz-row>
                                <nz-table nzBordered>
                                    <tbody>

                                        <tr>
                                            <td>Loại</td>
                                            <td>{{selected.Giongs.TenGiong}} </td>
                                        </tr>
                                        <tr>
                                            <td>Giống cá Koi</td>
                                            <td>{{selected.ChungLoais.TenChungLoai}} </td>
                                        </tr>
                                        <tr>
                                            <td>Màu sắc</td>
                                            <td>{{selected.ChungLoais.MauSac}} </td>
                                        </tr>
                                        <tr>
                                            <td>Quốc gia</td>
                                            <td>Nhật bản, Việt Nam </td>
                                        </tr>
                                        <tr>
                                            <td>Size</td>
                                            <td>> 15 cm, > 20 cm, > 50 cm,
                                                <15 cm, 15 – 18 cm, 15 – 25 cm, 18 – 20 cm, 20 – 30 cm, 20 cm, 25 cm, 30 cm, 35 cm, 40 cm, 45 cm, 50 cm,> 60 cm, 10 – 15 cm, 10 – 65 cm, 15 – 20 cm, 20 – 25 cm, 25 – 30 cm, 30 – 35 cm, 35 – 40 cm, 40 – 45 cm, 45 – 50 cm, 50 – 60 cm</td>
                                        </tr>
                                        <tr>
                                            <td>Chất lượng</td>
                                            <td>{{selected.ChatLuongs.TenChatLuong}} </td>
                                        </tr>
                                    </tbody>
                                </nz-table>
                            </div>
                        </div>
                    </div>

                </nz-tab>
            </nz-tabset>
        </div> -->
    </div>
</section>