<nz-page-header>
    <nz-page-header-title>{{pageTitle | uppercase}}</nz-page-header-title>
    <nz-page-header-extra>
        <input nz-input placeholder="Tìm kiếm" [(ngModel)]="sName" type="text" />
        <!-- button create -->
        <button nz-button nzType="primary" nzShape="round" class="btn-create" (click)="createNhanVien()">
  <i nz-icon nzType="plus"></i>Thêm nhân viên
</button>

    </nz-page-header-extra>

    <nz-page-header-content>


        <!-- data table -->
        <nz-table #nhanvienTable [nzData]="dataSource" [nzLoading]="isConfirmLoading">
            <thead>
                <tr>
                    <th>STT</th>
                    <th>Họ và tên </th>
                    <th>Ngày Sinh</th>
                    <th>Giới Tính</th>
                    <th>SĐT</th>
                    <th>Email</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let data of nhanvienTable.data | filterNV: sName ; index as i; ">
                    <td>{{i+1}}</td>
                    <td>{{data.HoLot}} {{data.TenNhanVien}}</td>
                    <td> {{data.NgaySinh | date :'dd/MM/yyyy'}}</td>
                    <!-- <td>

                        <ng-container *ngIf="data.GioiTinh == 'False'"> Nam </ng-container>

                        <ng-container *ngIf="data.GioiTinh == 'True'"> Nữ </ng-container>


                    </td> -->
                    <td>


                        <ng-container *ngIf="data.GioiTinh == true">
                            Nam
                        </ng-container>
                        <ng-container *ngIf="data.GioiTinh == false">Nữ</ng-container>
                    </td>

                    <td>{{data.Sdt }} </td>
                    <td>{{data.Email }}</td>

                    <td>
                        <button nz-button nzType="default" nzShape="round" (click)="viewNhanvien(data.MaNhanVien)">
                <i nz-icon nzType="eye"></i>Xem
              </button>
                        <button nz-button nzType="primary" nzShape="round" (click)="editNhanVien(data)">
                <i nz-icon nzType="edit"></i>Sửa
              </button>
                        <button nz-button nzType="danger" nzShape="round" (click)="confirmDelete(data.MaNhanVien)">
                <i nz-icon nzType="delete"></i>Xóa
              </button>
                    </td>
                </tr>
            </tbody>
        </nz-table>
    </nz-page-header-content>
</nz-page-header>