a:link {
    color: #77b122!important;
}


/* visited link */

a:visited {
    color: #77b122 !important;
}


/* mouse over link */

a:hover {
    color: #77b122 !important;
    text-decoration: underline !important;
}